<!DOCTYPE html>
<html>
    <style>
           
        
        .container{
                    display: flex;
                    height: 700px;
                    width:100%;
                    align-items: center;
                    justify-content: center;
          
                   
        }
        .image {
                    border: 1px solid black;
                    height: 70%;
                    width: 50%;
                    margin-right: 5px;
                    
        }
        .information{
                background-color: wheat;
                 border: 1px solid black;
                  width: 30%;
                  padding: 40px 40px 40px 0 ;
        }
        label {
           
            display: block;
            margin-top: 20px;
            font-size: 40px;
        }
        button{
            background-color: none;
            height:  40px;
            width : 100px;
            font-size: 15px;
        }
    </style>
    <body>
    <a href="http://localhost:3000/logout"> <Button> Log Out </Button></a>
    <div class="container">
     <div class="image">
    <img src="http://localhost:3000/{{actor.picture}}" alt="Image not found">
     </div>
     <div class  = "information">
       <label> Name  :   {{actor.firstName}} {{actor.lastName}}
       <label> Age  :   {{actor.age}}</label>
       <label>  gender  :   {{actor.gender}}</label>
       </label>


     </div>
    </div>
    </body>
</html>
