{{>header}}
    <div class="container">
     <div class="image">
    <img src={{actor.picture}} alt="Image not found">
     </div>
     <div class  = "information">
       <label> Name  :   {{actor.firstName}} {{actor.lastName}}
       <label> Age  :   {{actor.age}}</label>
       <label>  gender  :   {{actor.gender}}</label>
       </label>
