{{>header}}
      <div id="btns" class="dynamicbtn">
     </div>
    <div class="listContainer">
   {{#each movies as |movie|}}
   <div class="card">
  <a class = "img" href= "{{BASEURL}}/api/movies/{{movie._id}}"><img src="{{movie.poster}}" alt="picture not found"></a>
  <p>{{movie.name}}</p>
   </div>
    {{/each}}
    </div>
    <script>
      // pagination 
     const value = {{numberOfPages}}
     for (page = 1 ; page <= value; page++) 
     {
       
      const href =  document.createElement("a")
        href.setAttribute('href',`{{BASEURL}}/api/movies?page=${page}`);
        const btn = document.createElement("button");
        const pgNo = document.createTextNode(page);
        btn.append(pgNo)
        href.appendChild(btn)
       document.getElementById("btns").appendChild(href);
     }
     </script>